/* pagina mural */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap');


:root{
  --vermelho-primario: #a00000;
  --cor-fundo: #060606;
  --branco-textos: #FFFFFF;

}
body {
  margin: 0;
  padding: 0;
  font-family: "Jura", sans-serif;
}

/* SESSAO MENSAGEM PROCURE UM DUO*/
.dash-right .avisos {
  width: 100%;
  color: var(--branco-textos);
  font-family: "Jura", sans-serif;
}

.dash-right .avisos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-right .avisos .container .div-form {
  width: 80%;
  padding-left: 55px;
}

.dash-right .avisos .container .div-form #form_postagem {
  width: 95%;
}

.dash-right .avisos .div-form label {
  width: 95%;
}

.dash-right .avisos .div-form input {
  width: 100%;
  border-radius: 5px;
  background-color: var(--cor-fundo);
  color: var(--branco-textos);
  border: 2px solid var(--vermelho-primario);
}

.dash-right .avisos .div-form textarea {
  width: 100%;
  border: 2px solid var(--vermelho-primario);
  background-color: var(--cor-fundo);
  color: var(--branco-textos);
  border-radius: 5px;
}

.dash-right .avisos .div-form button {
  cursor: pointer;
  font-family: "Jura", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: var(--branco-textos);
  background-color: var(--vermelho-primario);
  border: var(--branco-textos) 1px solid;
  width: 100px;
}

.publicacao-btn-editar {
  cursor: pointer;
  font-family: "Jura", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: var(--branco-textos);
  background-color: var(--vermelho-primario);
  width: 80px;
}

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 2px solid var(--vermelho-primario);
  padding: 20px;
  padding-left: 55px;
}

.publicacao>*:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 80%;
  padding-left: 55px;
}

.div-results .feed-container {
  background-color: var(--cor-fundo);
  border-radius: 5px;
  margin-bottom: 80px;
  width: 95.5%;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons>* {
  margin-left: 30px;
}

/* PAGINA DAS MENSAGENS */

.janela {
  display: flex;
  background-image: url(../assets/fundoDashboard.jpg);
  background-position: left;
  background-repeat: no-repeat;
}

.dash-right {
  display: flex;
  width: 85%;
  height: fit-content;
  background-image: url(../assets/fundoDashboard.jpg);
  background-position: left;
  background-repeat: no-repeat;
  position: relative;
  top: 0;
  height: 100vh;
  overflow: auto;
}

.container img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  padding-top: 3%;
}

.container h1 {
  display: flex;
  padding-left: 55px;
}

/* MENU LATERAL */
.menu-lateral {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--cor-fundo);
  width: 16vw;
  height: 100vh;
  border-right: var(--vermelho-primario) 1px solid;
}

.logoDash {
  display: flex;
  align-items: center;
}

.header-left h1 {
  color: var(--branco-textos);
  padding: 0;
}

.menu-lateral p {
  color: var(--branco-textos);
  font-weight: 800;
  font-size: larger
}

.menu-lateral .logoDash h1 {
  color: var(--branco-textos);
}

.botoes-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-lateral a {
  text-decoration: none;
}

.btn-sair {
  color: var(--vermelho-primario);
  font-size: 16px;
  font-weight: 600;
  border: var(--vermelho-primario) 2px solid;
  border-radius: 5px;
  background-color: var(--branco-textos);
  margin: 0.4em;
  width: 6em;
  height: 3em;
  transition: ease-in-out 0.2s;
}

.btn-sair:hover {
  color: var(--branco-textos);
  border: var(--branco-textos) 2px solid;
  background-color: var(--vermelho-primario);

  width: 7em;
  height: 3em;
  cursor: pointer;
}

.botoes-menu button {
  color: var(--branco-textos);
  font-size: 16px;
  border: var(--branco-textos) 2px solid;
  border-radius: 5px;
  background-color: var(--vermelho-primario);
  margin: 0.4em;
  width: 10em;
  height: 3em;
  transition: ease-in-out 0.2s;
  font-family: "Jura", sans-serif;
}

.botoes-menu button:hover {
  color: var(--vermelho-primario);
  background-color: var(--branco-textos);
  border: var(--vermelho-primario) 2px solid;
  cursor: pointer;
}

.botoes-menu #dashboard-btn {
  color: var(--branco-textos);
  font-size: 16px;
  border: var(--branco-textos) 2px solid;
  border-radius: 5px;
  background-color: var(--vermelho-primario);
  margin: 0.4em;
  width: 10em;
  height: 3em;
  transition: ease-in-out 0.2s;
}

.botoes-menu #dashboard-btn:hover {
  color: var(--vermelho-primario);
  background-color: var(--branco-textos);
  cursor: pointer;
}

.avisos {
  padding-top: 10px;
  background: transparent;
}

/* DASHBOARD */

/* RANKING */
.rankingPontuacao {
  display: flex;
  align-items:center;
  justify-content: flex-start;
  flex-direction: column;
  width: 350px;
  height: 710px;
  font-size: 18px;
  font-weight: bolder;
  font-family: 'Jura';
  background-color: var(--branco-textos);
  border-radius: 15px;
  color: var(--cor-fundo);
  box-shadow: -5px 5px 4px rgb(160, 0, 0, 0.45);
}

.rankingPontuacao {
  transition: transform 0.3s ease, box-shadow 0.3 ease;
}

.rankingPontuacao:hover,
.boxDados:hover,
.boxGrafico:hover {
  transform: translateY(-5px);
  box-shadow: -5px 10px 8px rgb(0, 0, 0, 0.25);
}

.titleRanking {
  font-size: 30px;
  font-weight:800;
  letter-spacing: 1px;
  padding-top: 20px;
  height: 55px;
  display: flex;
  padding-left: 23px;
}

.textRanking {
  font-size: 17px;
  font-weight: 800;
  display: flex;
  padding-top: 13px;
  align-items: center;
  justify-content: center;
  padding-left: 23px;
  padding-right: 10px;

}
ion-icon {
  font-size: 40px;
  user-select: none;
  pointer-events: none;
  color: var(--cor-fundo);
  display: flex;
  padding-right: 5px; 
  
}

/* KPIs */
.areaKPI {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50vw;
  height: 20vh;
}

.boxDados {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--branco-textos);
  border-radius: 15px;
  width: 48%;
  height: 100%;
  box-shadow: -5px 5px 4px rgb(0,0,0, 0.45);
}


.boxDados,
.boxGrafico {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

h3 {
  font-size: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding-left: 8px;
}

.conteudoKPI {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 50px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}

.conteudo {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  width: 85vw;
  height: 100%;
  padding-top: 30px;
  padding-left: 12px;
}

.areaGraficos {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 60vw;
  height: 40vh;
  padding-right: 12px;
}

.boxGrafico {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--branco-textos);
  border-radius: 15px;
  width: 100%;
  height: 100%;
  box-shadow: -5px 5px 4px rgb(160, 0, 0, 0.45);
}

.tituloGrafico {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 20%;
  color: var(--cor-fundo);
}

.tituloGrafico span {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
}

.areaGrafico {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 100%;
}

canvas {
  width: 100%;
}