@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap');


:root{
    --vermelho-primario: #A00000;
    --cor-fundo: #060606;
    --branco-textos: #FFFFFF;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    scroll-padding-top: 120px;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: "Jura", sans-serif;
    background-color: var(--cor-fundo);
  }

html{
    scroll-behavior: smooth;
}

a {
    all: unset;
    cursor: pointer;
}

/* Header */
.container {
    display: flex;
    width: 80%;
    margin: auto;
}

.header {
    height: 80px;
    border-bottom: 1px solid var(--vermelho-primario);
    background-color: var(--cor-fundo);
}

.header .container {
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header a {
    display: inline-block;
    position: relative;
    user-select: none;
    text-decoration: none;
    color: var(--branco-textos)
}

.header a {
        display: inline-block;
        position: relative;
        user-select: none;
        text-decoration: none;
        color: var(--branco-textos)
}
/* 
.header a::before {
    content: "";
    width: 20px;
    height: 4px;
    border-top-left-radius: 32px;
    border-bottom-right-radius: 32px;
    background-color: var(--vermelho-primario);
    position: absolute;
    bottom: -6px;
    transition: width .4s ease-in-out;
}

.header a:hover::before {
    width: 100%;
} */

.navbar li {
    font-weight: 800;
}

.navbar {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.btn {
    border: none;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    transition: background .3s;
    border-radius: 5px;
}

.button {
    text-transform: uppercase;
    padding: 12px 28px;
    color: #ffffff;
    border-radius: 12px;
    border: 2px solid var(--vermelho-primario);
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.button:hover {
    background-color: #c10000;
}
/* Fim da Header */

/* Banner */
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92vh;
}

.imgBanner {
    content: "";
    position: absolute;
    height: 100vh;
    width: 100%;
    inset: 0; /* define o tamanho da imagem */
    background-size: cover;
    background-position: bottom; /* Usa o bottom da imagem como referencia para centralizar a imagem */
    z-index: -1; /* forçar a imagem a ir "pra baixo" do texto */
    opacity: 0.5;
    border-bottom: 1px solid var(--vermelho-primario);
}

.banner .bannerContainer {
    display: flex;
    align-items: center;
    height: 40%;
    flex-direction: column;
}

.banner .bannerContainer h1 {
    margin: 0%;
    padding: 0;
    font-size: 150px;
    color: var(--branco-textos);
}

.banner .bannerContainer h3 {
    margin: 0%;
    padding: 0;
    font-size: 36px;
    color: var(--branco-textos);
}
/* Fim do Banner */

/* Container Sobre */
.container-sobre {
    width: 100%;
    height: 550px;
    display: flex;
    align-items: center;
}

/* Texto Slider */
.textSobre p {
    color: var(--branco-textos);
    width: 720px;
    font-size: 15px;
    padding-bottom: 15px;
}

/* Slider  Sobre*/
.slider { /* altera o local do slider */
    margin: 50px;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 3s;
}

.slide img {
    width: 800px;
}

.manual-navigation {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid var(--branco-textos);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: var(--branco-textos);
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}

#radio5:checked ~ .first {
    margin-left: -100%;
}

#radio6:checked ~ .first {
    margin-left: -125%;
}

.navigation-auto div {
    border: 2px solid var(--vermelho-primario);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: var(--branco-textos);
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: var(--branco-textos);
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: var(--branco-textos);
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: var(--branco-textos);
}

#radio5:checked ~ .navigation-auto .auto-btn5 {
    background-color: var(--branco-textos);
}

#radio6:checked ~ .navigation-auto .auto-btn6 {
    background-color: var(--branco-textos);
}

/* Fim do Slider */

/* Container Camps */

.container-camps {
    width: 100%;
    height: 210px;
    border-bottom: 1px solid var(--vermelho-primario);
}

/* Texto Camps */

.textCamps {
    margin: 0 auto;
    padding: 0;
    color: var(--branco-textos);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 10px;
}


/* Carrossel Logos Camp */

.containerCamp {
    position: relative;
    padding: 15px;
    max-width: 720px;
    margin: 0 auto;
}

.gallery-wrapper {
    overflow-x: auto;
}

.gallery {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
}

.left-arrow,
.right-arrow {
    position: absolute;
    top: 0;
    left: -20px;
    right: auto;
    bottom: 0;
    font-size: 20px;
    line-height: auto;
    width: 20px;
    text-align: center;
    color: var(--branco-textos);
    cursor: pointer;
    border: none;
    background: var(--cor-fundo)  0;
}

.right-arrow {
    left: auto;
    right: 0px;
}

.item {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    opacity: 0.6;
    transition: all 600ms ease-in-out;
}

.current-item {
    opacity: 1;
}

.gallery-wrapper::-webkit-scrollbar {
    display: none;
}

.gallery-wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.seccao {
    display: flex;
    border-bottom: 1px solid var(--vermelho-primario);
}

/* sessao competitivo */
.competitive {
    width: 100%;
    height: auto;
    display: flex;
    margin: 0;
    padding: 0;
}

.textComp {
    padding-left: 40px;
    padding-top: 35px
}

.textComp p {
    color: var(--branco-textos);
    width: 850px;
    font-size: 15px;
    padding-bottom: 15px;
}

.imgComp {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgComp img {
    width: 250px;
    height: 200px;
    padding: 15px;
}

/* sessao games */
.tituloGames {
    margin: 0;
    padding: 0;
    top: 40px;
    color: var(--branco-textos);
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.containerGames {
    width: 100%;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--vermelho-primario);
}

.boxGames {
    width: 300px;
    height: 400px;
    padding: 20px;
    position: relative;
    overflow: hidden;
}

.boxGames h2 {
    text-transform: uppercase;
    color: #fff;
    z-index: 1;
    transition: .5s ease-in-out;
    position: relative;
    left: -90%;
}

.boxGames:hover h2 {
    transform: translateX(85%);
}

.boxGames img.imgGame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 150px;
    transition: .5s ease-in-out;
}

.boxGames:hover img.imgGame {
    width: 35px;
    transform: translate(85px, -182px);
}

.boxGames .textGame {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 20px;
    left: -95%;
    transition: .5s ease-in-out;
    padding: 70px 20px;
}

.boxGames .textGame::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
}

.boxGames:hover .textGame {
    transform: translateX(92%);
}

.boxGames .textGame p {
    color: #fff;
    letter-spacing: 1px;
    font-size: 13px;
}

/* sessao sobre mim */
.aboutMe h1 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 32px;
    text-shadow: 1px 1px 4px var(--vermelho-primario);
    color: var(--branco-textos);
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.line-1 {
    display: flex;
    justify-content: center;
}

.column-1,
.column-2 {
    width: 44%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.column-1 div {
    background-image: url("../assets/svg/developer-photo-background.svg");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column-1 div img {
    height: 300px;
    border-radius: 50%;
}

.container-aboutMe {
    margin: 20px 0;
    width: 600px;
}

.container-aboutMe h2 {
    margin-top: 30px;
    letter-spacing: 1px;
    margin-bottom: 8px;
    text-transform: uppercase;
    color: var(--branco-textos);
}

.container-aboutMe p {
    font-size: 19px;
    color: var(--branco-textos);
}

/* sessao footer */
.footer {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    height: 200px;
    background-color: #161616c7;
    box-shadow: 0 2px 8px 0 var(--vermelho-primario);
    position: relative;
}

.footer .column-logo,
.footer .column-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.footer .column-logo img {
    height: 100px;
    user-select: none;
    pointer-events: none;
}

.footer .column-logo h5 {
    font-size: 15px;
    margin-top: 12px;
    letter-spacing: 1px;
    font-weight: 500;
    color: var(--branco-textos);
}

.footer .column-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin-right: 25px;
}

.footer .column-nav div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 20px;
}

.footer .column-nav div a {
    font-size: 16px;
    display: inline-block;
    margin-bottom: 15px;
    position: relative;
    user-select: none;
    color: var(--branco-textos);
}

.footer .column-nav div a::before {
    content: "";
    width: 20px;
    height: 4px;
    border-top-left-radius: 32px;
    border-bottom-right-radius: 32px;
    background-color: var(--vermelho-primario);
    position: absolute;
    bottom: -6px;
    transition: width .4s ease-in-out;
}

.footer .column-nav div a:hover::before {
    width: 100%;
}

.footer .column-contact .social-line {
    display: flex;
    justify-content: flex-start;
}

.footer .column-contact .social-line a {
    margin-right: 28px;
    transition: all .4s ease-in-out;
}

.footer .column-contact .social-line a:hover {
    transform: scale(1.1);
}

.footer .column-contact .contact-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer .column-contact .contact-container div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}

.footer .column-contact .contact-container h5 {
    font-size: 16px;
    font-weight: 500;
    color: var(--branco-textos);
}

.footer .column-contact .contact-container ion-icon {
    font-size: 25px;
    margin-right: 8px;
    user-select: none;
    pointer-events: none;
    color: var(--branco-textos);
}

.footer .column-contact .social-line ion-icon {
    font-size: 35px;
    margin-right: 8px;
    user-select: none;
    pointer-events: none;
    color: var(--branco-textos);
}